<div class="container w-25" >  
    <div class="mt-5 text-center bg-secondary p-5 shadow-lg rounded">

      <h1>New Cliente</h1>

      <br>
        <div class="text-right">
        <%= form_with(model: cliente, local: true) do |form| %>
          <% if cliente.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

              <ul>
              <% cliente.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :Nome %>
            <%= form.text_field :Nome %>
          </div>

          <div class="field">
            <%= form.label :Idade %>
            <%= form.number_field :Idade %>
          </div>

          <div class="field">
            <%= form.label :Cpf %>
            <%= form.text_field :Cpf %>
          </div>

          <div class="field">
            <%= form.label :Sexo %>
            <%= form.text_field :Sexo %>
          </div>

          <div class="field">
            <%= form.label :Plano %>
            <%= form.text_field :Plano %>
          </div>

          <div class="field">
            <%= form.label :Horas %>
            <%= form.number_field :Horas %>
          </div>

          <div class="field">
            <%= form.hidden_field :user_id, :value => @cliente.user_id %>
          <div class="field">

          <h2 class="text-left">Carro:</h2><br>

          <%= form.fields_for :veiculo do |ff| %>

            <div class="field">
              <%= ff.label :Marca %>
              <%= ff.text_field :Marca %>
            </div>

            <div class="field">
              <%= ff.label :Modelo %>
              <%= ff.text_field :Modelo %>
            </div>

            <div class="field">
              <%= ff.label :Cor %>
              <%= ff.text_field :Cor %>
            </div>

            <div class="field">
              <%= ff.label :Placa %>
              <%= ff.text_field :Placa %>
            </div>

            <div class="field">
              <%= ff.label :Danos %>
              <%= ff.text_field :Danos %>
            </div>

            <div class="field">
              <%= ff.label :Ano %>
              <%= ff.number_field :Ano %>
            </div>

          <% end %>

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      </div>
    </div>
</div>