<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<div class="text-left">
  <%= form_tag(clientes_path, :method => :get) do %>
    <%= text_field_tag 'search', nil, placeholder: 'Nome do Cliente' %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cpf</th>
      <th>Sexo</th>
      <th>Plano</th>
      <th>Horas</th>
      <th>Veiculo</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.Nome %></td>
        <td><%= cliente.Idade %></td>
        <td><%= cliente.Cpf %></td>
        <td><%= cliente.Sexo %></td>
        <td><%= cliente.Plano %></td>
        <td><%= cliente.Horas %></td>
        <td><%= cliente.veiculo.Modelo %></td>
        <td><%= cliente.user.email %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
