<div class="container w-25" >  
    <div class="mt-5 text-center bg-secondary p-5 shadow-lg rounded">

      <p id="notice"><%= notice %></p>

      <p class="h6">
        <strong>Nome:</strong>
        <%= @cliente.Nome %>
      </p>

      <p class="h6">
        <strong>Idade:</strong>
        <%= @cliente.Idade %>
      </p>

      <p class="h6">
        <strong>Cpf:</strong>
        <%= @cliente.Cpf %>
      </p>

      <p class="h6">
        <strong>Sexo:</strong>
        <%= @cliente.Sexo %>
      </p>

      <p class="h6">
        <strong>Plano:</strong>
        <%= @cliente.Plano %>
      </p>

      <p class="h6">
        <strong>Horas:</strong>
        <%= @cliente.Horas %>
      </p>

      <p class="h6">
        <strong>Veiculo:</strong>
        <%= @cliente.veiculo.Modelo %>
      </p>

      <p class="h6">
        <strong>User:</strong>
        <%= @cliente.user.email %>
      </p>

      <%= link_to 'Edit', edit_cliente_path(@cliente), {:class => "text-light"} %> |
      <%= link_to 'Back', root_path, {:class => "text-light"} %>

    </div>
</div>