<div class="container w-25" >  
    <div class="mt-5 text-center bg-secondary p-5 shadow-lg rounded" style="background: linear-gradient(#009999, #000066)">
        <h1 class="pb-5 mb-5 text-white">Estacionamento</h1> 
        <div style="padding-top: 100px" class="pb-3 mb-3 h3 text-white">
            <%= link_to  "Sign-in", new_user_session_path , {:class => "text-white"} %>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
        </div>
        <br>
        <hr class="pb-3">
        <div class="p-5 h3">
        <%= link_to  "Sign-up", new_user_registration_path, {:class => "text-white"} %>
        </div>
    </div>
</div>