<%= form_with(model: veiculo, local: true) do |form| %>
  <% if veiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

      <ul>
      <% veiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Marca %>
    <%= form.text_field :Marca %>
  </div>

  <div class="field">
    <%= form.label :Modelo %>
    <%= form.text_field :Modelo %>
  </div>

  <div class="field">
    <%= form.label :Ano %>
    <%= form.number_field :Ano %>
  </div>

  <div class="field">
    <%= form.label :Danos %>
    <%= form.text_field :Danos %>
  </div>

  <div class="field">
    <%= form.label :Placa %>
    <%= form.text_field :Placa %>
  </div>

  <div class="field">
    <%= form.label :Cor %>
    <%= form.text_field :Cor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
