<%= form_with(model: espaco, local: true) do |form| %>
  <% if espaco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(espaco.errors.count, "error") %> prohibited this espaco from being saved:</h2>

      <ul>
      <% espaco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Vagas %>
    <%= form.number_field :Vagas %>
  </div>

  <div class="field">
    <%= form.label :Valor_Hora %>
    <%= form.text_field :Valor_Hora %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
