<p id="notice"><%= notice %></p>

<h1>Espacos</h1>

<table>
  <thead>
    <tr>
      <th>Vagas</th>
      <th>Valor hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @espacos.each do |espaco| %>
      <tr>
        <td><%= espaco.Vagas %></td>
        <td><%= espaco.Valor_Hora %></td>
        <td><%= link_to 'Show', espaco %></td>
        <td><%= link_to 'Edit', edit_espaco_path(espaco) %></td>
        <td><%= link_to 'Destroy', espaco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Espaco', new_espaco_path %>
