<p id="notice"><%= notice %></p>

<p>
  <strong>Vagas:</strong>
  <%= @espaco.Vagas %>
</p>

<p>
  <strong>Valor hora:</strong>
  <%= @espaco.Valor_Hora %>
</p>

<%= link_to 'Edit', edit_espaco_path(@espaco) %> |
<%= link_to 'Back', espacos_path %>
