<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.Nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @funcionario.Idade %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @funcionario.Cpf %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @funcionario.Sexo %>
</p>

<p>
  <strong>Carros registrados:</strong>
  <%= @funcionario.Carros_Registrados %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @funcionario.Salario %>
</p>

<p>
  <strong>Carga horaria:</strong>
  <%= @funcionario.Carga_Horaria %>
</p>

<p>
  <strong>User:</strong>
  <%= @funcionario.user %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
